* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  }

body {
  background-image: url("https://image.freepik.com/free-vector/golden-bokeh-lights-background_1048-9227.jpg"); 
  font-family: Arial; 
  background-size:auto 100vh;
  height:100vh;
}
/*Se a tela tiver 400pixels vai carregar esses estilos**/
@media(min-width:400px){
  body{
    font-size:14px;
  }
}
/*Breakpoint**/
@media(min-width:600px){
  body{
    font-size:18px;
  }
}

header {
  height:50vh; 
  display:flex;
  justify-content:center;
  align-items:center;
}

.menu{
  background-color:white; 
  position:fixed;
  width:100vw;
  /*para colocar o navegador, menu no topo*/
  top:0;
}

.menu li{
  list-style:none; 
}

.menu ul{
  display:flex;
  justify-content:space-around;
}



a:hover{
  text-decoration:underline;   
}

.menu a {
  /*para poder usar o padding e quebrar o texto. Aumentou o tamanho o menu*/
  display:block;
  padding:10px 20px;
  /*quais propriedades do elemento mudar*/
  transition:background-color 2s,color,1s;
}

/*o active é para fazer o efeito de sombra quando usar o touch do celular*/
.menu a:active,
.menu a:hover{
	background-color:#4d3319;
	color:white;
}

a{
  text-decoration:none; 
  color:#4d2600;
}

.titulo{
	transform:scale(0.2) translateY(50vh);
	opacity: 0;
	animation: linear 2s animacaoTitulo forwards;
}


@keyframes animacaoTitulo{
	
	to{
		transform:scale(1) translateY(0);
		opacity: 1;
	}
}

.site-subtitle,
.site-title {
  text-align:center;
  color:#4d3319;
}

.site-title{
	font-size:4em;
	font-family: 'Special Elite', cursive;
}


.site-subtitle{
	font-family: 'Roboto', sans-serif;
	line-height:1.8em;	
}

.portfolio .grid{
	display: grid;
	gap:2em;
	height:calc();
}

.sobre,
.contato, 
.portfolio{
	padding: 2em;
	min-height: 100vh;
}

@media(min-width:1200px){
	.sobre,
	.contato, 
	.portfolio{
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
	}
}

.sobre h2,
.contato,
.portfolio h2{
	font-family: 'Fira Sans', sans-serif;
	font-size: 2em;
	padding:1em;
	color:#4d2600;
}

.sobre p{
	/*Para formatar o texto do parágrafo*/	
	text-indent:1.4em;
	margin-bottom:1.4em;
	text-align:justify;
}

.sobre .avatar {
  margin-left: 2em;
}

@media (min-width: 600px) {
  .sobre .avatar {
    float: right;
  }
}
@media(min-width:560px){
	.portfolio .grid{
		grid-template-columns: 240px 240px;
		justify-content:center;
	}
}

@media(min-width:880px){
	.portfolio .grid{
		grid-template-columns: 260px 260px;
		justify-content:center;
		height:calc(100vh - 4em - 48px - 1.5em);
	}
}

.portfolio figure{
	text-align:center;	
}	

.img-portfolio{
  width:240px;
  height:220px;
  border-radius:10%;
   /*Para fazer a transição mais suave*/  
  transition:transform 500ms;
}

/*.img-portfolio:hover{
   /*Faz a imagem aumentar quando passa o mouse em cima
  transform:scale(1.2);
}
**/

.flip-card{
	perspective:500px;
}

.card{
	position:relative;
	transform-style:preserve-3d;
	transition:transform .7s;
}

.flip-card:hover .card{
	transform:rotateY(180deg);
}

.card-front,
.card-back{
	backface-visibility:hidden;
	left:0;
	position:absolute;
	top:0;
}

.card-back{
	background-color:white;
	width:240px;
	height:220px;
	transform:rotateY(180deg);/*180 graus*/
}


@media(min-width:1200){
	.img-portfolio{
	  width:auto;
	  height:100%;
	 }
}

.contato a{
	transition: text-shadow 0.5s;
}

.contato a:active,
.contato a:hover{
	text-decoration:none;
	text-shadow: 0px 0px 10px #4d2600;
}
