body {
  background-image: url("https://image.freepik.com/free-vector/golden-bokeh-lights-background_1048-9227.jpg"); 
  font-family: Arial; 
  background-size:auto 100vh;
  height:100vh;
}

.menu{
  background-color:white; 
}

.menu li{
  list-style:none; 
}

.menu ul{
  display:flex;
  justify-content:space-around;
}

a{
  text-decoration:none; 
  color:#4d2600;
}

a:hover{
  text-decoration:underline;   
}

.site-subtitle,
.site-title {
  text-align:center;
  color:#4d3319;
}
