* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  }

body {
  background-image: url("https://image.freepik.com/free-vector/golden-bokeh-lights-background_1048-9227.jpg"); 
  font-family: Arial; 
  background-size:auto 100vh;
  height:100vh;
}
/*Se a tela tiver 400pixels vai carregar esses estilos**/
@media(min-width:400px){
  body{
    font-size:14px;
  }
}
/*Breakpoint**/
@media(min-width:600px){
  body{
    font-size:18px;
  }
}

header {
  height:50vh; 
  display:flex;
  justify-content:center;
  align-items:center;
}

.menu{
  background-color:white; 
  position:fixed;
  width:100vw;
  /*para colocar o navegador, menu no topo*/
  top:0;
}

.menu li{
  list-style:none; 
}

.menu ul{
  display:flex;
  justify-content:space-around;
}

a{
  text-decoration:none; 
  color:#4d2600;
}

a:hover{
  text-decoration:underline;   
}

.menu a {
  /*para poder usar o padding e quebrar o texto. Aumentou o tamanho o menu*/
  display:block;
  padding:10px 20px;
}

.site-subtitle,
.site-title {
  text-align:center;
  color:#4d3319;
}

.site-title{
	font-size:4em;
	font-family: 'Special Elite', cursive;
}


.site-subtitle{
	font-family: 'Roboto', sans-serif;
	line-height:1.8em;	
}

.portfolio{
	padding:2em;
}

.portfolio h2{
	font-family: 'Fira Sans', sans-serif;
	font-size: 2em;
	padding:1em;
}

.portfolio .grid{
	display: grid;
	gap:2em;
	height:calc();
}

@media(min-width:560px){
	.portfolio .grid{
		grid-template-columns: 240px 240px;
		justify-content:center;
	}
}

@media(min-width:880px){
	.portfolio .grid{
		grid-template-columns: 260px 260px;
		justify-content:center;
		height:calc(100vh - 4em - 48px - 1.5em);
	}
}

.portfolio figure{
	text-align:center;	
}	

.img-portfolio{
  width:240px;
  height:220px;
  border-radius:10%;
}

@media(min-width:1200){
	.img-portfolio{
	  width:auto;
	  height:100%;
	 }
}
